<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1><%= title %></h1>

    <p>Authors Name: <b><%= message.user %></b></p>
    <p>Authors Message: <%= message.text %></p>
    <p>Authors Date: <%= message.added %></p>

    <a href="/">Go Home</a>
  </body>
</html>
